
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;

}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid navy; 
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 60px;
    height: 60px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }