.container{
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-width: 400px;
    min-height: 600px;
    height: 60vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    div{
        margin-bottom: 20px;
    }
    h3{
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: 20px;
    }
}
.sturtup{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        width: 100%;
    }
    label {
        padding-left: 10px;
    }
}
.dynamicMemory{
    display: flex;
    align-items: center;
    p{
        font-size: 1.2rem;
    }
    input{
        font-size: 1.3rem;
        height: 20px;
        width: 80px;
    }
}
.priority{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        width: 100%;
    }
    label{
        font-size: 1.2rem;
    }

}
.saveBtn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
.switch{
    color: #919191;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dynamicModule{
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;

}
.disabled {
        pointer-events: none;
        opacity: 0.4;
}