.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 30vw 0 30vw
  
}
.top {
    display: flex;
    flex-direction: column;
}
.photoContainer{
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    img{
        width: auto;
        height: 100%;
    }
}
.photoWrapper{
    position: relative;
}
.editPhoto{
    position: absolute;
    bottom: 50px;
    right: 30px;
}
.nameContainer{
    text-align: center;
    .name{
        color: navy;
        font-size: 2rem;
        font-weight: 550;
    }
}