.container {
    min-width: 400px;
    min-height: 600px;
    height: 60vh;
    width: 20vw;
    font-size: 1.5rem;
    div{
        display: flex;
        align-items: center;
        margin: 10px 0;
        p{
            color: navy;
            margin-right: 5px;
            font-weight: 600;
        }
    }
}