.container{
    background-color: navy;
    position: sticky;
    height: 10vh;
    width: 100%;
    top: 0;
    display: flex;
    img{
        height: 8vh;
        background-color: white;
        margin-left: 20px;
    }
}
.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{

    display: flex;
    justify-content: space-around;
     align-items: center;
     width: 50%;
     height: 100%;
     margin-left: auto;
    a{
        font-size: 1.5rem;
        color: oldlace;
        text-decoration: none;
    }

    a.active{
        color:#69c3ff;
    }
}

.selected {
    color: orchid;
}

@media screen and (max-width: 768px){
    .line{
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    .container{
      position: relative;
    }
  
    .hamburger{
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
    .links{
      position: fixed;
      background: navy;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      z-index: 1;
      clip-path: circle(1px at 90% -10%);
      -webkit-clip-path: circle(1px at 90% -10%);
      transition: all 1s ease-out;
    }
  
    .open{
      clip-path: circle(1px at 90% -10%);
      -webkit-clip-path: circle(1200px at 90% -10%);
    }
  }