.container{
    background-color: navy;
    position: sticky;
    height: 10vh;
    width: 100%;
    top: 0;
    display: flex;
   
}
.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      font-size: 3rem;
      color: white;
      margin-left: 20px;
      &:hover{
        color: #69c3ff;
        cursor: pointer;
        transition: 1s;
        transform: rotate(360deg);

      }
      &:active{
        color: #0099ff;
      }
    }
}
.links{

    display: flex;
    justify-content: space-around;
     align-items: center;
     width: 50%;
     height: 100%;
     margin-left: auto;
    a{
        font-size: 1.5rem;
        color: oldlace;
        text-decoration: none;
    }

    a.active{
        color:#69c3ff;
    }
}

.selected {
    color: orchid;
}

.profile{
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  height: 7vh;
  width: 7vh;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;

  img{
    height: 100%;
    width: 100%;
    display: block;

  }
}

@media screen and (max-width: 853px){
    .line{
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    .container{
      position: relative;
    }
  
    .hamburger{
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
    .links{
      position: fixed;
      background: navy;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      z-index: 1;
      clip-path: circle(1px at 90% -10%);
      -webkit-clip-path: circle(1px at 90% -10%);
      transition: all 1s ease-out;
    }
  
    .open{
      clip-path: circle(1px at 90% -10%);
      -webkit-clip-path: circle(1400px at 90% -10%);
    }
  }
