.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.place{
  outline: none;
  font-size: 1.3rem;
  border: none;
  border-bottom: 2px solid #b5b5b5;
  transition: .3s;
  margin-top: 5px;
  background-color: #eeeeee;
  &:focus{
    background-color: #dbdbdb;
    border-bottom: 2px solid #838383;
  }
}

.span{
  color: #cf0000;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.error{
  background-color: #e2bbbb;
  border-bottom: 2px solid #cf0000;
}